:root {
    --cor-preto: #292929;
    --fonteInter: 'Inter', sans-serif;
}

.botao {
    border: 2px solid var(--cor-preto);
    border-radius: 0.625rem;
    width: 11.75rem;
    padding: 0.625rem 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-family: var(--fonteInter);
    font-size: 1.5rem;
    font-weight: 600;
}