.container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    margin-top: 13.44rem;
}

.container__ComidaOriental {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__ComidaOriental__titulo {
    color: #292929;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.container__ComidaOriental__texto {
    color: #292929;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 160%;
}

.container__ComidaOriental img {
    width: 25rem;
    height: 33.41894rem;
}

/* Feita de forma Tradicional */
.container__FeitaDeFormaTradicional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6.27rem;
}

.container__FeitaDeFormaTradicional__titulo {
    color: #292929;
    font-size: 3rem;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 1.5rem;
}

.container__FeitaDeFormaTradicional__texto {
    color: #292929;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 2.5rem;
}

.container__FeitaDeFormaTradicional__link {
    color: #DA2535;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration-line: underline;
}

/* Mais populares */


.container__MaisPopulares__titulo {
    color: #292929;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 6.25rem 0rem 3.37rem 0rem;
}

.container__MaisPopulares__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.75rem;
}

.container__MaisPopulares__card {
    border-radius: 2rem;
    background: #F3F3F3;
    width: 23.75rem;
    height: 28.125rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 10px;
    padding: 40px;
    margin-top: 3.37rem;
}

.container__MaisPopulares__card__img {
    align-self: center;
    max-width: 200px;
    height: 200px;
    position: absolute;
    top: -80px;
    margin-bottom: 3.19rem;
}

.container__MaisPopulares__card__img img {
    display: block;
    max-width: 100%;
}

/* .container__MaisPopulares__card img {
    margin-bottom: 3.19rem;
} */

.container__MaisPopulares__card__titulo {
    color: #292929;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.container__MaisPopulares__card__texto {
    color: #616161;
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 2rem;
}

.container__MaisPopulares__card__preco {
    color: #292929;
    font-size: 2rem;
    font-weight: 500;
}

/* Comentarios */
.container__Comentarios__titulo {
    /* margin-top: 6.25rem; */
    margin: 6.25rem 0rem 3rem 0rem;
    color: #292929;
    font-size: 3rem;
    font-weight: 600;
    line-height: 123%;
}

.container__Comentarios__cards {
    display: flex;
    gap: 1.25rem;
}

.container__Comentarios__card {
    width: 37.75rem;
    height: 24.375rem;
    background: #F3F3F3;
    padding-left: 2.5rem;
    padding-top: 2.56rem;
}

.container__Comentarios__Nome {
    color: #292929;
    font-size: 2rem;
    font-weight: 500;
    line-height: 123%;
    margin: 1.5rem 0rem 1rem 0rem;
}

.container__Comentarios__texto {
    color: #616161;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 1rem;
}